# Dependency directories
node_modules/
jspm_packages/
bower_components

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Documentation
docs/
docs.js
.travis.yml
docs.js

# Test
test/

# Git
.github/
.gitattributes
.gitignore
.nojekyll

# Visual Studio Code
.vscode/